project:
  type: website
  output-dir: docs

website:
  title: "Neuro-iX"
  site-url: https://neuro-ix.github.io
  favicon: images/logos/Neuro-iX-2-transparent.png
 
  # start of the navigation bar at the top of the website  
  navbar:
    title: false
    pinned: true
    logo: images/logos/LogoHorizontal.png
    
    # your sub-pages
    left:
      - text: "People"
        href: people
      - text: "Research"
        href: research
      - text: "Publications"
        href: publications.html
      - text: "Tools"
        href: tools
      - text: "Contact"
        href: contact
        
    # your social media handles
    right:    
      - icon: linkedin
        href: https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAAE54G0B9SjSTi14XXga3b5V66C7b9BTXFI&keywords=sylvain%20bouix&origin=RICH_QUERY_TYPEAHEAD_HISTORY&position=0&searchId=90ed282e-d341-4c4e-8b36-131ab83ec6ea&sid=nWS
        target: _blank
      - icon: github
        href: https://github.com/Neuro-iX
        target: _blank
      - icon: envelope
        aria-label: email
        href: mailto:sylvain.bouix@etsmtl.ca
        target: _blank
      
  search: 
    location: navbar
    type: textbox    
      
format:
  html:
    theme: 
      light: themes/light_config.scss
      dark: themes/dark_config.scss
    css: styles.css
    toc: true

