/* css styles */

/* Not show titles */
.quarto-title > h1.title {
  opacity: 0 !important;
}

/* Center a block */
.centering {
  text-align: center;
}

/*Center a block 
.text-style-1 {
  text-align: center;
}*/

